@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:200|Zilla+Slab:300,300i,500');

/*HEADER*/

.site-title,header {
  text-align: center;
  width: 100%
}

.site-title {
  position: relative;
  top: 10px
}

.site-title img {
  width: 200px;
  margin: 10px;
  transition: width .1s
}

.site-title img:hover {
  width: 208px
}

.site-title a {
  opacity: .9
}

header {
  margin: 10px 0 0;
  background-color: rgba(0,0,0,.5)
}

nav a {
  font-family: 'Barlow Condensed',sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-transform: uppercase
}

nav a img {
  width: 50px;
  display: block;
  margin: 15px auto
}

nav a img:focus,nav a img:hover {
  transform: translate(0,-2px)
}

nav ul,nav ul li {
  display: inline-block
}

nav ul {
  padding: 0;
  margin: 0 0 20px
}

nav ul li {
  list-style: none;
  margin: 0 15px
}

.page-description {
  margin: 30px auto 0;
  width: 70%;
  text-align: center
}

/*GENERAL*/

body {
  background-color: #1e1e1e;
  background-image: url(../img/swirl_pattern2.png);
  background-attachment: fixed;
  font-size: 22px;
  color: #fff;
  position: relative;
  margin: 0;
  font-family: 'Zilla Slab',serif;
  font-weight: 300
}

.page-wrapper {
  width: 60%;
  margin: auto
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #f3c553;
  opacity: .7
}

.active,a:hover {
  opacity: 1;
  color: #fff
}

iframe {
  border: 0;
  height: 300px;
  width: 100%;
  max-width: 500px;
  margin: 10px 0
}

.pdf-preview {
  width: 100%;
  max-width: none;
}

input {
  cursor: pointer;
  margin: 30px 5px;
  z-index: 10;
  position: relative;
}

label {
  margin: 0 20px 0 -30px;
  background-color: rgba(0,0,0,.5);
  padding: 10px 10px 10px 30px;
}

.ita:checked ~ .text-eng {
  font-size: 0;
}

.ita:checked + label {
  color: #f3c553;
}

.eng:checked ~ .text-ita {
  font-size: 0;
} 

.eng:checked + label {
  color: #f3c553;
}

/*HOMEPAGE*/

.homepage {
  position: relative;
  width: 350px;
  margin: 200px auto;
  padding-left: 20px;
  padding-top: 30px
}

.homepage a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  transition: width .2s
}

.homepage img {
  display: block;
  width: 100%
}

.portfolio { transform: rotate(18deg) translate(280px) rotate(-18deg); }
.blog { transform: rotate(90deg) translate(280px) rotate(-90deg); }
.bio { transform: rotate(166deg) translate(280px) rotate(-166deg); }
.gallery-link { transform: rotate(228deg) translate(280px) rotate(-228deg); }
.projects { transform: rotate(313deg) translate(280px) rotate(-313deg); }

.tooltip {
  visibility: hidden;
  width: 110px;
  color: #f3c553;
  font-size: 25px;
  font-family: 'Barlow Condensed',sans-serif;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 8px 0;
  position: absolute;
  top: 120px;
  z-index: 1;
  font-weight: 500
}

.homepage a:hover .tooltip {
  visibility: visible
}

.homepage a:hover {
  width: 105px;
  margin-left: -51px
}

.mobile-nav img {
  position: absolute;
  width: 0
}

/*TITLES*/

h1 {
  font-family: 'Barlow Condensed',sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  clear: both;
  margin: 40px 0 30px;
  font-weight: 300;
  background-color: rgba(0,0,0,.5);
  padding: 10px 20px
}

h2,h4 {
  font-weight: lighter;
  font-size: 30px;
  color: #f3c553
}

.caption h2,.image-info h2,.post-list h2,.site-title h2 {
  color: #fff;
  font-size: 28px
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px
}

h4 {
  font-size: 25px;
  margin: 25px 0 0
}

/*GALLERY*/

.thumb-link {
  opacity: 1;
}

.thumb-grid {
  overflow: hidden;
  margin-top: 40px;
}

/*POST*/

.post-title {
  background-color: transparent;
  padding: 12px 0 0;
}

.post-headline {
  background-color: rgba(0,0,0,.5);
  padding-left: 20px;
}

.post-header,.post-img {
  width: 100%
}

.post-img {
  margin: 20px 0
}

.post-img-side {
  width: 40%;
  float: left;
  margin: 20px 40px 20px 0
}

.date {
  font-style: italic;
  margin-top: -20px;
  opacity: .6;
  font-size: 18px
}

.info {
  padding-bottom: 15px;
  color: #f3c553;
  font-size: 22px
}

/*POST-LIST*/

.post-list {
list-style: none;
padding: 0;
clear: both;
}

.list-info {
font-size: 20px;
margin-top: -10px;
}

.post-list a {
opacity: 1;
}

.post-thumb {
float: left;
width: 100px;
height: 100px;
border-radius: 100px;
margin: 0px 30px;
display: inline-block;
background-size: cover;
background-position: 100% 50%;
}

.post-list a:hover .post-intro {
margin-left: 2px;
}

.post-list a:hover .post-thumb {
margin-left: 32px;
}

.post-intro {
margin: 50px 0;
transition: margin-left .1s;
}

.post-intro h2, .post-intro p, .post-list .date {
margin-left: 180px;
padding: 0;
}

/*FOOTER*/

.footer,.social {
  text-align: center
}

.footer {
  margin-top: 100px;
  position: relative;
  font-style: italic;
  background-color: rgba(0,0,0,.5);
  padding-bottom: 80px;
  width: 100%
}

.footer p {
  margin: 15px
}

.social {
  padding-top: 30px
}

.social img {
  width: 30px
}

.email {
  font-style: normal;
  margin: -10px 0 30px
}

.copyright,.licence {
  font-style: normal;
  font-size: 16px;
  float: left;
  margin-top: 40px
}

.licence {
  float: right
}

@media (max-width:800px) {
  .page-wrapper {
      width: 90%
  }

  .homepage {
      width: 300px;
      margin: 150px auto;
      padding-top: 0
  }

  .homepage a {
      width: 70px;
      height: 70px;
      margin: -45px 0 0 -45px
  }

  .portfolio { transform: rotate(18deg) translate(220px) rotate(-18deg); }
  .blog { transform: rotate(90deg) translate(220px) rotate(-90deg); }
  .bio { transform: rotate(166deg) translate(220px) rotate(-166deg); }
  .gallery-link { transform: rotate(228deg) translate(220px) rotate(-228deg); }
  .projects { transform: rotate(313deg) translate(220px) rotate(-313deg); }

  }

@media (max-width: 520px) {

  .homepage {
    margin: 30px auto;
    margin-left: -10px;
    width: 100%;
  }

  .mobile-nav {
    visibility: visible;
    text-align: center;
  }

  .mobile-nav img {
    display: block;
    width: 100%;
    position: relative;
  }

  .mobile-nav a {
    display: block;
    width: 25%;
    margin: 2%;
    display: inline-block;
  }

  .portfolio, .blog, .bio, .gallery-link, .projects {
    visibility: collapse;
  }

  nav ul img {
    width: 40px;
  }

  nav ul li {
    margin: 0 5px;
  }

  .post-img-side {
    width: 100%;
  }

  }
}
