---
layout: default
title: "Visual blog"
description: "Drawings, paintings, sketches, comics... everything I do when holding a pen."
---

{% assign sorted = (site.gallery | sort: 'date') | reverse %}

<div class="thumb-grid">
  {% for element in sorted %}
      <a href="#id{{ forloop.index }}" class= "thumb-link">
        <div class="thumb" style="background-image: url('{{ site.baseurl }}/img/gallery/{{ element.image }}');">
          <div class="caption">
            <h2>{{ element.title }}</h2>
            <p class="date"> {{ element.date | date: '%B %d, %Y'}} </p>
          </div>
        </div>
      </a>
  {% endfor %}
</div>

{% for element in sorted %}
  <div id="id{{ forloop.index }}" class="popup" >
    <a href="#" >
      <img src="{{ site.baseurl }}/img/closebtn.png" class="closebtn" />
    </a>
    <div class="gallery" >
      <img src="{{ site.baseurl }}/img/gallery/{{ element.image }}" class="image" />
    </div>
    <div class="image-info">
      <h2>{{ element.title}}</h2>
      <p class="date">{{ element.date | date: '%B %d, %Y'}}</p>
      <p>{{ element.content}}</p>
        {% if forloop.first %}
          <a href="#" >
        {% else %}
          <a href="#id{{ forloop.index | minus: 1 }}" >
        {% endif %}
        <img src="{{ site.baseurl }}/img/backbtn.png" class="backbtn" >
      </a>
      {% if forloop.last %}
        <a href="#" >
      {% else %}
        <a href="#id{{ forloop.index | plus: 1 }}" >
      {% endif %}
        <img src="{{ site.baseurl }}/img/nextbtn.png" class="nextbtn" />
      </a>
    </div>
  </div>
{% endfor %}
