---
layout: fullscreen
---

<div class='homepage'>
    <img class='center' src='{{ site.baseurl }}/img/homepage.png'>
    <a href='{{ site.baseurl }}/projects.html' class='projects'>
      <img src='{{ site.baseurl }}/img/projects.png'>
      <span class="tooltip">projects</span>
    </a>
    <a href='{{ site.baseurl }}/portfolio.html' class='portfolio'>
      <img src='{{ site.baseurl }}/img/portfolio.png'>
      <span class="tooltip">portfolio</span>
    </a>
    <a href='{{ site.baseurl }}/blog.html' class='blog'>
      <img src='{{ site.baseurl }}/img/blog.png'>
      <span class="tooltip">blog</span>
    </a>
    <a href='{{ site.baseurl }}/bio.html' class='bio'>
      <img src='{{ site.baseurl }}/img/bio.png'>
      <span class="tooltip">bio</span>
    </a>
    <a href='{{ site.baseurl }}/gallery.html' class='gallery-link'>
      <img src='{{ site.baseurl }}/img/gallery.png'>
      <span class="tooltip">gallery</span>
    </a>
</div>

<div class='mobile-nav'>
    <a href='{{ site.baseurl }}/projects.html' ><img src='{{ site.baseurl }}/img/projects.png'></a>
    <a href='{{ site.baseurl }}/portfolio.html' ><img src='{{ site.baseurl }}/img/portfolio.png'></a>
    <a href='{{ site.baseurl }}/blog.html' ><img src='{{ site.baseurl }}/img/blog.png'></a>
    <a href='{{ site.baseurl }}/bio.html' ><img src='{{ site.baseurl }}/img/bio.png'></a>
    <a href='{{ site.baseurl }}/gallery.html' ><img src='{{ site.baseurl }}/img/gallery.png'></a>
</div>
