---
layout: default
title: "Portfolio"
description: "Here you can find my CV and different portfolios, containing my best works grouped by typology."
videos:
  - title: "Urbino's First Pastry Shop"
    id: pDMfoWjIM1I
    date: "20/02/2016"
    description: "A documentary about Leonardo Cartolari and his shop in Urbino, Italy."
  - title: "Life Echoes"
    id: f6nMeIlxIUE
    date: "22/02/2016"
    description: "A Videoart and Sound Design project on the passage of time."
  - title: "Some Kind of Nature - Kynetic Typography"
    id: 9IWBuDBsD8s
    date: "09/04/2017"
    description: "First exploration of After Effects"
  - title: "White"
    id: cXDMH6C_olc
    date: "01/04/2017"
    description: "One minute one color"
  - title: "Somewhere Else"
    id: PCPyiK2gtaY
    date: "07/07/2017"
    description: "An animation on the theme 'Necessary Utopias'."
pdf:
  - title: "CV"
    description: "This document provides a summary of my education, experience and skills."
    link: pdf/cv-leonie-aonzo.pdf
---

<h1>CV and portfolios</h1>
{% for pdf in page.pdf %}
  <h2>{{pdf.title}}</h2>
  <p>{{pdf.description}}<br>To view or download the original file in pdf format visit
    <a href="{{site.baseurl}}/{{pdf.link}}">this link.</a>
    <iframe class="pdf-preview" src="{{site.baseurl}}/{{pdf.link}}" frameborder="0"></iframe>
  </p>
{% endfor %}

<h1>Videos</h1>
{% for video in page.videos %}
  <div class="video">
    <h2>{{video.title}}</h2>
    <p class="date">{{ video.date | date: '%B %d, %Y' }}</p>
    <p>{{video.description}}</p>
    <iframe src="//www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe>
  </div>
{% endfor %}
