<div class="footer">

  <nav class="social">
    <ul>
      <li>
        <a href="https://twitter.com/LeonieAonzo"} title="Twitter profile" >
          <img src="{{ site.baseurl }}/img/twitter.png" />
        </a>
      </li>
      <li>
        <a href="https://github.com/pyrodaes"} title="Github profile" >
          <img src="{{ site.baseurl }}/img/github.png" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/leonie.aonzo"} title="Facebook profile" >
          <img src="{{ site.baseurl }}/img/facebook.png" />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCrcONEc6zaPKBxZeNTQ-JLA"} title="Youtube channel" >
          <img src="{{ site.baseurl }}/img/youtube.png" />
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"} title="RSS feed" >
          <img src="{{ site.baseurl }}/img/rss.png" />
        </a>
      </li>
    </ul>
    <p class="email">
      Or email me at leonie.aonzo@gmail.com
    </p>
  </nav>

  <p class="footer-text">
    This is a static website built using Jekyll, fully CSS based. </br>
    The template has been written entirely by me. If you're interested in having a similar website, contact me!
  </p>
  <p class="copyright">
    &copy; 2016 by Léonie Aonzo
  </p>
  <p class="licence">
    Licence: <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a>
  </p>

</div>
