<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include header.html %}

    {% if page.post-header %} <img class="post-header" src="{{ site.baseurl }}/img/posts/{{ page.post-header }}" /> {% endif %}

    <div class="page-wrapper">

      {{ content }}

    </div>

    {% include footer.html %}

  </body>

</html>
